<div>
  <div>
    <input type="text" placeholder="suchen" (input)="backend.searchingproducts($event)"  />
    <svg  fill="none" class="icon icon-search btn" viewBox="0 0 18 19">
      <path
        fill="black"
        fill-rule="evenodd"
        d="M11.03 11.68A5.784 5.784 0 1 1 2.85 3.5a5.784 5.784 0 0 1 8.18 8.18m.26 1.12a6.78 6.78 0 1 1 .72-.7l5.4 5.4a.5.5 0 1 1-.71.7z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </div>
  <svg class="closedbtn"
    (click)="show.show = false"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    class="icon icon-close"
    viewBox="0 0 18 17"
  >
    <path
      fill="black"
      d="M.865 15.978a.5.5 0 0 0 .707.707l7.433-7.431 7.579 7.282a.501.501 0 0 0 .846-.37.5.5 0 0 0-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 1 0-.707-.708L8.991 7.853 1.413.573a.5.5 0 1 0-.693.72l7.563 7.268z"
    ></path>
  </svg>
</div>
