div {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
  position: relative;
  > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    max-width: 742px;
    width: 100%;
    flex-direction: row;
  }
  >app-filterdiv:nth-child(2){
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

  input {
    padding: 17px 98px 8px 20px;
    max-width: 742px;
    width: 100%;
    height: 47px;
    color: black;
  }
  .btn {
    width: 18px;
    cursor: pointer;
    position: absolute;
    right: 20px;
  }
  > button:nth-child(2) {
    width: 10%;
    background: none;
    border: none;
    svg {
      width: 18px;
      transition: box-shadow 0.3s ease;
      border-radius: 50%;
      &:hover {
        box-shadow: 0 0 0 10px grey;
        background-color: grey;
        cursor: pointer;
      }
    }
  }
  svg {
    width: 18px;
    transition: box-shadow 0.3s ease;
    border-radius: 50%;
    &:hover {
      box-shadow: 0 0 0 10px grey;
      background-color: grey;
      cursor: pointer;
    }
  }
}
