header {
  // position: absolute;
  // top: 0;
  width: 100%;
  height: 15vh;
  z-index: 10;
  background: #000000;
  // height: 100vh;
  nav {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #111;
    padding: 0 2rem;
    transition: background-color 0.3s;
    .login-shop-btn-cont {
      display: flex;
      align-items: center;
      gap: 16px;
      .basket-btn {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
    .label-cont {
      display: flex;
      align-items: center;
      gap: 24px;
      .label-img {
        margin-top: 100px;
        width: 150px;
        height: 150px;
        border-radius: 100%;
      }
    }
    ul {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 2rem;
      margin: 0;
      padding: 0;
      a {
        color: #ffffff;
        text-decoration: none;
        font-family: "Exo2", sans-serif;
        font-weight: 600;
        letter-spacing: 0.05em;
        transition: color 0.3s;
        &:hover {
          color: #c66605;
        }
      }
      li {
        cursor: pointer;
        transition: transform 0.2s, color 0.2s;
      }
    }
  }
}

.blend {
  position: absolute;
  background-color: white;
  height: 15%;
  width: 100%;
}