<div>
  <li>
    <img src="/img/paypal.png" alt="" />
    <img src="/img/applepay.png" alt="" />
    <img src="/img/googlepay.png" alt="" />
    <img src="/img/maestro.png" alt="" />
    <img src="/img/mastercard.png" alt="" />
    <img src="/img/visa.png" alt="" />
  </li>
  <br />
  <div>
    <p>© 2025, Bikery Shop Powered by Eugen und Giannis</p>
    <a routerLink="datenschutz">Datenschutzerklärung </a>
    <a routerLink="contactinfos">Kontaktinformationen </a>
    <a routerLink="refund-policy">Widerrufsrecht </a>
    <a routerLink="AGB">AGB</a>
    <a routerLink="impressum">Impressum</a>
    <a routerLink="versand">versand</a>
  </div>
</div>
