<div class="layout">
  <form #registation="ngForm" (ngSubmit)="print(registation)">
    <h1>Registration</h1>
    <div>
      <input
        type="text"
        [(ngModel)]="user.name"
        name="inputname"
        #name="ngModel"
        placeholder="Vorname"
        required
      /><input
        [(ngModel)]="user.lastname"
        #lastname="ngModel"
        name="lastname"
        type="text"
        placeholder="Nachname"
        required
      />
    </div>
    <div>
      <input
        [(ngModel)]="user.email"
        #email="ngModel"
        name="email"
        type="email"
        placeholder="E-mail"
        required
      /><input
        [(ngModel)]="user.password"
        #email="ngModel"
        name="passwort"
        type="password"
        placeholder="Passwort"
        required
      />
    </div>
    <div>
      <input
        [(ngModel)]="user.telefonumber"
        #email="ngModel"
        name="telefonnummer"
        type="tel"
        placeholder="Telefonnummer"
        required
      /><input
        [(ngModel)]="user.address"
        #email="ngModel"
        name="Adresse"
        type="text"
        placeholder="Adresse"
        required
      />
    </div>
    <div>
      <input
        [(ngModel)]="user.birthday"
        #email="ngModel"
        name="birthday"
        type="date"
        placeholder="Geburtsdatum"
        required
      />
    </div>
    <button type="submit">Registrieren</button>
  </form>
</div>
