<div class="layout">
  <form >
    <h1>Registration</h1>
    <div>
      <input type="text" placeholder="Vorname" required /><input
        type="text"
        placeholder="Nachname"
        required
      />
    </div>
    <div>
      <input type="email" placeholder="E-mail" required /><input
        type="password"
        placeholder="Passwort"
        required
      />
    </div>
    <div>
      <input type="tel" placeholder="Telefonnummer" required /><input
        type="text"
        placeholder="Adresse"
        required
      />
    </div>
    <div>
      <input type="date" placeholder="Geburtsdatum" required />
    </div>
    <button  type="button">Anmelden</button>
  </form>
</div>
