<div class="perimeter">
  <div>
    <div><button (click)="showprofile()">Profil</button></div>
    <button (click)="showcurrentorder()">Aktuelle Bestellung</button>
    <button (click)="showhistory()">Bestell Verlauf</button>
  </div>
  <div>
    <div *ngIf="!history && !openorder">
      <div class="firstrow">
        {{ profile?.username }}
        <p>Verifiziert</p>
      </div>
      <div class="secondrow">{{ profile?.email }}</div>
    </div>
    <table class="profile-details-table" *ngIf="!history && !openorder">
      <tbody>
        <tr>
          <th>Email:</th>
          <td *ngIf="!editing">{{ profile?.email }}</td>
          <input
            *ngIf="editing && profile"
            type="text"
            [(ngModel)]="profile.email"
          />
        </tr>
        <tr>
          <th>First Name:</th>
          <td *ngIf="!editing">{{ profile?.first_name }}</td>
          <input *ngIf="editing" [(ngModel)]="profile.first_name" type="text" />
        </tr>
        <tr>
          <th>Last Name:</th>
          <td *ngIf="!editing">{{ profile?.last_name }}</td>
          <input *ngIf="editing" [(ngModel)]="profile.last_name" type="text" />
        </tr>
        <tr>
          <th>Telefon:</th>
          <td *ngIf="!editing">{{ profile?.telefonumber }}</td>
          <input
            *ngIf="editing"
            [(ngModel)]="profile.telefonumber"
            type="text"
          />
        </tr>
        <tr>
          <th>Address:</th>
          <td *ngIf="!editing">{{ profile?.address }}</td>
          <input *ngIf="editing" [(ngModel)]="profile.address" type="text" />
        </tr>
        <tr>
          <th>Birthday:</th>
          <td *ngIf="!editing">{{ profile?.birthday }}</td>
          <input *ngIf="editing" [(ngModel)]="profile.birthday" type="date" />
        </tr>
      </tbody>
    </table>
    <div *ngIf="!history && !openorder">
      <button (click)="accountdelete()">Konto Löschen</button>
      <div>
        <button (click)="modify()">
          {{ editing ? "Abrechen" : "Bearbeiten" }}
        </button>
        <button (click)="editing ? save() : logout()">
          {{ editing ? "Speichern" : "Ausloggen" }}
        </button>
      </div>
    </div>

    <div *ngIf="history && !openorder">
      <table class="orders-table" role="table" aria-label="Bestellverlauf">
        <tbody>
          <app-order [user]="profile"></app-order>
        </tbody>
      </table>
    </div>
    <div *ngIf="openorder">
      <div class="text" *ngIf="openedorder">
        <span>aktuell gibt es keine offene Bestellungen</span>
      </div>
      <div *ngIf="openedorder"></div>
    </div>
  </div>
</div>
