.perimeter {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  border-radius: 60px;
  margin: 50px 0 50px 0;
  max-height: 70vh;
  height: 100%;
  color: black;
  > div:nth-child(1) {
    color: black !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    button {
      box-shadow: 0 0 20px rgb(227, 239, 239);
      padding: 20px;
      width: 150px;
      border-radius: 20px;
      font-size: 20px;
      border: none;
      background: none;
      color: white;
      font-family: "Exo2", sans-serif;
      font-weight: bold;
      cursor: pointer;
    }
  }
  > div:nth-child(2) {
    border: 1px solid white;
    height: 75%;
    width: 80%;
    color: white;
    display: flex;
    border-radius: 40px;
    box-shadow: 0 0 20px rgb(227, 239, 239);
    gap: 25px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    > div:nth-child(1) {
      display: flex;
      color: white;
      flex-direction: column;
      width: 100%;
      @media (max-width: 626px) {
        word-break: break-all;
      }
      > div:nth-child(1) {
        display: flex;
        font-size: 45px;
        > p {
          font-size: 15px;
        }
      }
    }
    > table:nth-child(2) {
      height: 100%;
      width: 100%;
      font-size: 20px;
      display: flex;
      > tbody:nth-child(1) {
        display: flex;
        flex-direction: column;
        gap: 45px;
        tr {
          display: flex;
          gap: 30px;
          align-items: flex-start;
        }
      }
    }
    > div:nth-child(3) {
      display: flex;
      gap: 25px;
      justify-content: space-between;
      width: 100%;
      @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
      }
      > button:nth-child(1) {
        background-color: transparent;
        color: #ff4444;
        border: none;
        border-radius: 15px;
        font-size: 35px;
        cursor: pointer;
        &:hover {
          background: rgb(146, 38, 38);
          color: white;
        }
      }
      > div:nth-child(2) {
        display: flex;
        gap: 15px;
        @media (max-width: 626px) {
          display: flex;
          flex-direction: column;
        }
        > button:nth-child(1) {
          background-color: #1cbab5;
          color: white;
          border: none;
          border-radius: 25px;
          font-size: 25px;
          padding: 15px;
          cursor: pointer;
          &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 40px rgba(0, 255, 255, 0.5);
          }
        }
        > button:nth-child(2) {
          background-color: #1cbab5;
          color: white;
          border: none;
          border-radius: 25px;
          font-size: 25px;
          padding: 15px;
          cursor: pointer;
          &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 40px rgba(0, 255, 255, 0.5);
          }
        }
      }
    }
    > div:nth-child(4) {
      th {
        text-align: center;
      }
    }
  }
}

th,
td {
  text-align: center;
}

input {
  color: black;
  width: 60%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background-color: #262626;
  color: #ffffff;
  font-size: 1em;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  input::placeholder {
    font-size: 70px;
  }
}

tr {
  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
  }
}

td {
  word-break: break-all;
}
