.perimeter {
  display: flex;
  justify-content: center;
  background-color: black;
  border-radius: 60px;
  height: 70vh;
  color: black;
  > div:nth-child(1) {
    border: 1px solid white;
    height: 75%;
    width: 56%;
    color: white;
    display: flex;
    border-radius: 40px;
    box-shadow: 0 0 40px rgb(227, 239, 239);
    gap: 25px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    > div:nth-child(1) {
      display: flex;
      color: white;
      flex-direction: column;
      width: 100%;
      > div:nth-child(1) {
        display: flex;
        font-size: 45px;
        > p {
          font-size: 15px;
        }
      }
    }
    > table:nth-child(2) {
      height: 100%;
      width: 90%;
      font-size: 20px;
      display: flex;
      > tbody:nth-child(1) {
        display: flex;
        flex-direction: column;
        gap: 45px;
        tr {
          display: flex;
          gap: 30px;
          align-items: flex-start;
        }
      }
    }
    > div:nth-child(3) {
      display: flex;
      gap: 25px;
      justify-content: space-between;
      width: 100%;
      > button:nth-child(1) {
        background-color: transparent;
        color: #ff4444;
        border: none;
        border-radius: 15px;
        font-size: 35px;
        cursor: pointer;
        &:hover {
          background: rgb(146, 38, 38);
          color: white;
        }
      }
      > div:nth-child(2) {
        display: flex;
        gap: 15px;
        > button:nth-child(1) {
          background-color: #1cbab5;
          color: white;
          border: none;
          border-radius: 25px;
          font-size: 25px;
          padding: 15px;
          cursor: pointer;
          &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 40px rgba(0, 255, 255, 0.5);
          }
        }
        > button:nth-child(2) {
          background-color: #1cbab5;
          color: white;
          border: none;
          border-radius: 25px;
          font-size: 25px;
          padding: 15px;
          cursor: pointer;
          &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 40px rgba(0, 255, 255, 0.5);
          }
        }
      }
    }
  }
}

input {
  color: black;
  width: 60%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background-color: #262626;
  color: #ffffff;
  font-size: 1em;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  input::placeholder {
    font-size: 70px;
  }
}
