<div class="perimeter">
  <div>
    <div>
      <div class="firstrow">
        {{ profile.username }}
        <p>Verifiziert</p>
      </div>
      <div class="secondrow">{{ profile.email }}</div>
    </div>
    <table class="profile-details-table">
      <tbody>
        <tr>
          <th>Email:</th>
          <td>{{ profile.email }}</td>
        </tr>
        <tr>
          <th>First Name:</th>
          <td>{{ profile.first_name }}</td>
        </tr>
        <tr>
          <th>Last Name:</th>
          <td>{{ profile.last_name }}</td>
        </tr>
        <tr>
          <th>Telefon:</th>
          <td>{{ profile.telefonnumber }}</td>
        </tr>
        <tr>
          <th>Address:</th>
          <td>{{ profile.address }}</td>
        </tr>
        <tr>
          <th>Birthday:</th>
          <td>{{ profile.birthday }}</td>
        </tr>
      </tbody>
    </table>
    <div>
      <button (click)="accountdelete()">Konto Löschen</button>
      <div>
        <button (click)="modify()">Bearbeiten</button>
        <button (click)="logout()">Ausloggen</button>
      </div>
    </div>
  </div>
</div>
