<div>
  <div>
    <h1>Zahlung und Versand</h1>
    <br /><br />
    <p>Es gelten folgende Bedingungen:</p>
    <br /><br />
    <p>Die Lieferung erfolgt nur im Inland (Deutschland).</p>
    <br /><br />
    <h2>Versandkosten (inklusive gesetzliche Mehrwertsteuer)</h2>
    <br /><br />
    <p>Wir berechnen die Versandkosten pauschal mit 6,49 € pro Bestellung.</p>
    <br /><br />
    <p>Ab einem Bestellwert von 50,00 € liefern wir versandkostenfrei.</p>
    <br /><br />
    <h2>Lieferfristen</h2>
    <br /><br />
    <p>
      Soweit im jeweiligen Angebot keine andere Frist angegeben ist, erfolgt die
      Lieferung der Ware im Inland (Deutschland) innerhalb von 3 - 5 Werktagen
      nach Vertragsschluss (bei vereinbarter Vorauszahlung nach dem Zeitpunkt
      Ihrer Zahlungsanweisung).
    </p>
    <br /><br />
    <p>Beachten Sie, dass an Sonn- und Feiertagen keine Zustellung erfolgt.</p>
    <br /><br />
    <p>
      Haben Sie Artikel mit unterschiedlichen Lieferzeiten bestellt, wird die
      Ware in einer gemeinsamen Sendung versandt, sofern wir keine abweichenden
      Vereinbarungen mit Ihnen getroffen haben. Die Lieferzeit bestimmt sich in
      diesem Fall nach dem Artikel mit der längsten Lieferzeit den Sie bestellt
      haben.
    </p>
    <br /><br />
    <h2>Akzeptierte Zahlungsmöglichkeiten</h2>
    <br /><br />
    <h3>Über PayPal:</h3>
    <br /><br />
    <ul>
      <li>Zahlung per PayPal Express</li>
    </ul>
    <br /><br />
    <h3>Über Stripe:</h3>
    <br /><br />
    <ul>
      <li>Zahlung per Kreditkarte</li>
      <li>Zahlung per Apple Pay</li>
      <li>Zahlung per Google Pay</li>
    </ul>
    <br /><br />
    <p>Bei Fragen finden Sie unsere Kontaktdaten im Impressum.</p>
  </div>
</div>
