<div>
  <div>
    <h1>Datenschutzerklärung</h1>

    <p><strong>Letzte Fassung: 29. Juni 2025</strong></p>
    <br />

    <p>
      Bikery Shop betreibt diesen Shop und diese Website, einschließlich aller
      zugehörigen Informationen, Inhalte, Funktionen, Tools, Produkte und
      Services, um Ihnen als Kunde ein individuelles Einkaufserlebnis
      bereitzustellen (die „Services“). Bikery Shop basiert auf Shopify, wodurch
      wir in der Lage sind, Ihnen die Services bereitzustellen. In dieser
      Datenschutzerklärung wird beschrieben, wie wir personenbezogene Daten
      erfassen, verwenden oder weitergeben, wenn Sie die Website besuchen,
      nutzen oder einen Kauf oder eine andere Transaktion unter Verwendung der
      Services tätigen oder anderweitig mit uns kommunizieren. Wenn es einen
      Konflikt zwischen unseren allgemeinen Geschäftsbedingungen und dieser
      Datenschutzerklärung gibt, hat diese Datenschutzerklärung Vorrang in Bezug
      auf die Erfassung, Verarbeitung und Weitergabe Ihrer personenbezogenen
      Daten.
    </p>
    <br />

    <p>
      Lesen Sie sich diese Datenschutzerklärung bitte sorgfältig durch. Indem
      Sie einen der Services nutzen und darauf zugreifen, bestätigen Sie, dass
      Sie diese Datenschutzerklärung gelesen haben und mit der Erfassung,
      Verwendung und Weitergabe Ihrer Daten, wie in dieser Datenschutzerklärung
      beschrieben, einverstanden sind.
    </p>
    <br />

    <h2>Welche personenbezogenen Daten erfassen oder verarbeiten wir?</h2>
    <p>
      Wenn wir den Begriff „personenbezogene Daten“ verwenden, beziehen wir uns
      auf Informationen, die Sie oder eine andere Person identifizieren oder
      unmittelbar mit Ihnen in Verbindung gebracht werden können.
      Personenbezogene Daten umfassen keine Informationen, die anonym erfasst
      oder so anonymisiert wurden, dass eine Identifizierung oder eine Zuordnung
      zu Ihrer Person nicht möglich ist. Je nachdem, wie Sie mit den Services
      interagieren, wo Sie wohnen und wie es das geltende Recht erlaubt oder
      vorschreibt, können wir die folgenden Kategorien personenbezogener Daten
      erfassen oder verarbeiten, einschließlich der aus diesen personenbezogenen
      Daten gezogenen Rückschlüsse:
    </p>
    <br />

    <ul>
      <li>
        Kontaktdaten: Name, Postanschrift, Rechnungsadresse, Lieferadresse,
        Telefonnummer und E-Mail-Adresse.
      </li>
      <li>
        Finanzdaten: Kredit-, Debitkarten- und Finanzkontonummern,
        Zahlungskarteninformationen, Finanzkontoinformationen,
        Transaktionsdetails, Zahlungsart, Zahlungsbestätigung und andere
        Zahlungsdetails.
      </li>
      <li>
        Kontoinformationen: Benutzername, Passwort, Sicherheitsfragen,
        Konfigurationen und Einstellungen.
      </li>
      <li>
        Transaktionsinformationen: Artikel, die Sie sich ansehen, in den
        Warenkorb legen, auf die Wunschliste setzen oder kaufen, zurückgeben,
        umtauschen oder stornieren, sowie Ihre vergangenen Transaktionen.
      </li>
      <li>
        Kommunikation mit uns: Informationen, die Sie bei der Kommunikation mit
        uns angeben, z. B. Anfragen an den Kundensupport.
      </li>
      <li>
        Geräteinformationen: Informationen über Gerät, Browser oder
        Netzwerkverbindung, IP-Adresse und andere eindeutige Identifikatoren.
      </li>
      <li>
        Nutzungsinformationen: Informationen über Ihre Interaktion mit den
        Services, auch darüber, wie und wann Sie mit den Services interagieren
        oder sie durchsuchen.
      </li>
    </ul>
    <br />

    <h2>Quellen von personenbezogenen Daten</h2>
    <ul>
      <li>
        <strong>Direkt von Ihnen:</strong> Wir erfassen die Daten, wenn Sie ein
        Konto erstellen, die Services aufrufen oder nutzen, mit uns
        kommunizieren oder uns anderweitig Ihre personenbezogenen Daten zur
        Verfügung stellen.
      </li>
      <li>
        <strong>Automatisch über die Services:</strong> Wir erfassen die Daten
        von Ihrem Gerät oder wenn Sie unsere Produkte oder Services nutzen,
        einschließlich Cookies und ähnlicher Technologien.
      </li>
      <li>
        <strong>Von unseren Dienstanbietern:</strong> Wir erfassen die Daten,
        wenn Dienstanbieter in unserem Auftrag Technologien aktivieren oder
        personenbezogene Daten verarbeiten.
      </li>
      <li><strong>Von unseren Partnern und anderen Drittanbietern.</strong></li>
    </ul>
    <br />

    <h2>Wie verwenden wir Ihre personenbezogenen Daten?</h2>
    <ul>
      <li>
        <strong
          >Bereitstellung, Anpassung und Verbesserung der Services:</strong
        >
        Um Ihnen die Services bereitzustellen, Bestellungen auszuführen,
        Benachrichtigungen zu senden und ein individuelles Einkaufserlebnis zu
        schaffen.
      </li>
      <li>
        <strong>Marketing und Werbung:</strong> Um Ihnen Marketing- und
        Werbemitteilungen zu senden oder personalisierte Werbung anzuzeigen.
      </li>
      <li>
        <strong>Sicherheit und Betrugsprävention:</strong> Um Konten zu
        authentifizieren, betrügerische Aktivitäten aufzudecken und ein sicheres
        Einkaufserlebnis zu gewährleisten.
      </li>
      <li>
        <strong>Kommunikation mit Ihnen:</strong> Kundensupport, schnelle
        Antworten auf Anfragen und Aufrechterhaltung der Geschäftsbeziehung.
      </li>
      <li>
        <strong>Rechtliche Gründe:</strong> Einhaltung von Gesetzen, Reaktion
        auf rechtliche Anfragen oder Schutz unserer Rechte.
      </li>
    </ul>
    <br />

    <h2>Wie geben wir personenbezogene Daten weiter?</h2>
    <p>
      Unter bestimmten Umständen können wir personenbezogene Daten für legitime
      Zwecke gemäß dieser Datenschutzerklärung an Dritte weitergeben:
    </p>
    <br />
    <ul>
      <li>
        An Shopify-Anbieter und Drittanbieter, die Services in unserem Auftrag
        erbringen.
      </li>
      <li>
        An Geschäfts- und Marketingpartner für personalisierte Werbung und
        Marketingservices.
      </li>
      <li>
        An Dritte, wenn Sie zustimmen oder wir zur Erfüllung von Services darauf
        angewiesen sind.
      </li>
      <li>An Affiliates oder innerhalb unserer Unternehmensgruppe.</li>
      <li>
        Im Rahmen von Geschäftstransaktionen, rechtlichen Verpflichtungen oder
        zur Durchsetzung von Richtlinien.
      </li>
    </ul>
    <br />

    <h2>Beziehung mit Shopify</h2>
    <p>
      Die Services werden von Shopify gehostet, wodurch Shopify personenbezogene
      Daten verarbeitet, um die Services bereitzustellen und zu verbessern.
      Weitere Informationen finden Sie in der
      <a href="https://privacy.shopify.com/en" target="_blank"
        >Shopify-Datenschutzrichtlinie</a
      >.
    </p>
    <br />

    <h2>Websites und Links von Drittanbietern</h2>
    <p>
      Die Services können Links zu Websites oder Plattformen von Drittanbietern
      enthalten. Wir übernehmen keine Verantwortung für deren
      Datenschutzpraktiken.
    </p>
    <br />

    <h2>Daten von Kindern</h2>
    <p>
      Die Services sind nicht für Kinder unter 16 Jahren gedacht. Eltern können
      uns kontaktieren, um personenbezogene Daten von Kindern zu löschen.
    </p>
    <br />

    <h2>Sicherheit und Aufbewahrung Ihrer Daten</h2>
    <p>
      Wir treffen Sicherheitsmaßnahmen, garantieren jedoch keine perfekte
      Sicherheit. Die Aufbewahrungsdauer hängt von Faktoren wie Kontoverwaltung,
      Servicebereitstellung und rechtlichen Verpflichtungen ab.
    </p>
    <br />

    <h2>Ihre Rechte und Möglichkeiten</h2>
    <p>
      Abhängig von Ihrem Wohnsitz haben Sie möglicherweise Rechte auf Zugang,
      Löschung, Berichtigung, Datenübertragbarkeit, Widerspruch oder Widerruf
      der Einwilligung.
    </p>
    <br />

    <h2>Beschwerden</h2>
    <p>
      Bei Beschwerden über die Verarbeitung Ihrer personenbezogenen Daten können
      Sie uns kontaktieren oder die zuständige Datenschutzbehörde einschalten.
    </p>
    <br />

    <h2>Internationale Übertragungen</h2>
    <p>
      Ihre personenbezogenen Daten können außerhalb Ihres Landes gespeichert
      oder verarbeitet werden. Wir nutzen anerkannte Übermittlungsmechanismen
      wie Standardvertragsklau​​seln.
    </p>
    <br />

    <h2>Änderungen an dieser Datenschutzerklärung</h2>
    <p>
      Wir können die Datenschutzerklärung von Zeit zu Zeit aktualisieren und
      veröffentlichen die überarbeitete Version auf dieser Website.
    </p>
    <br />

    <h2>Kontakt</h2>
    <p>
      Fragen oder Ausübung Ihrer Rechte? Kontaktieren Sie uns telefonisch, per
      E-Mail ({{ email }} ) oder per Post an Beethovenstraße 3, Graben-Neudorf,
      76676, DE.
    </p>
    <br />
  </div>
</div>
