<div class="overlay" (click)="close.emit()">
  <div class="main" (click)="$event.stopPropagation()">
    <svg
      (click)="close.emit()"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path
        fill="black"
        d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z"
      />
    </svg>
    <div class="content">
      <div class="img-cont">
        <img [src]="selectedImage?.image" [alt]="product.name" />
        <div class="colors-cont">
          <div
            (click)="changeColor(img)"
            class="color"
            *ngFor="let img of product.images; let i = index"
            [ngStyle]="{ 'background-color': img.color_code }"
          ></div>
        </div>
      </div>
      <div class="description-cont">
        <span class="product-category">{{ product.category }}</span>
        <span class="product-name">{{ product.name }}</span>
        <span class="product-color">{{ selectedImage?.color }}</span>
        <span class="product-price">EUR {{ product.price }}€</span>
        <span class="product-description">{{ product.description }}</span>
        <div
          class="add-to-cart-btn"
          (click)="addToCart()"
          [class.loading]="loading"
        >
          <ng-container *ngIf="!loading"> IN DEN WARENKORB </ng-container>
          <div class="spinner" *ngIf="loading"></div>
        </div>
        <div class="paypal-btn"></div>
      </div>
    </div>
  </div>
</div>
