<div class="overlay" (click)="close.emit()">
  <div class="main" (click)="$event.stopPropagation()">
    <svg
      (click)="close.emit()"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path
        fill="black"
        d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z"
      />
    </svg>
    <div class="content">
      <div class="img-cont">
        <img [src]="product.images?.[0]?.image" [alt]="product.name" />
        <div class="colors-cont"></div>
      </div>
      <div class="description-cont">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora
        similique nostrum expedita est, voluptates ducimus accusantium tempore
        soluta, quia nihil sed. Sed voluptatum deserunt totam fugit possimus.
        Facilis, porro eaque!
      </div>
    </div>
  </div>
</div>
