<div>
  <form #loginform="ngForm" (ngSubmit)="login(loginform)">
    <h1>Login</h1>
    <div>
      <input
        [(ngModel)]="username"
        name="username"
        type="text"
        placeholder="username"
      /><input
        [(ngModel)]="password"
        name="password"
        type="password"
        placeholder="Passwort"
        required
      />
    </div>
    <p>{{errors}}</p>
    <input class="submitbutton" #sendbutton type="submit" value="Anmelden" />
    <a routerLink="/forgotpassword" class="btn">Passwort Vergessen?</a>
    <a routerLink="/registration" class="btn">Registrieren</a>
  </form>
</div>
