<div>
  <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
    <h1>Kontakt</h1>
    <div>
      <input
        [(ngModel)]="contactData.name"
        name="inputname"
        #name="ngModel"
        type="text"
        placeholder="Name"
      /><input
        [(ngModel)]="contactData.email"
        name="inputemail"
        #email="ngModel"
        type="email"
        placeholder="Email"
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        required
      />
    </div>
    <input
      class="phone"
      [(ngModel)]="contactData.telefonnummer"
      name="telefonnummer"
      #telefonnummer="ngModel"
      type="tel"
      placeholder="Telefonnummer"
    />
    <textarea
      [(ngModel)]="contactData.Kommentar"
      #kommentar="ngModel"
      name="Kommentar"
      placeholder="Kommentar"
      id=""
    >
Kommentar</textarea
    >
    <input class="submitbutton" #sendbutton type="submit" value="Senden" />
  </form>
</div>
