.contactinfos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-break: break-all;
  margin: 50px 0 0 0 ;
  > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    
  }
  h1 {
    word-break: break-all;
  }
}
