<div>
  <div>
    <h1>Allgemeine Geschäftsbedingungen und Kundeninformationen</h1>

    <h2>I. Allgemeine Geschäftsbedingungen</h2>

    <h3>§ 1 Grundlegende Bestimmungen</h3>
    <p>
      (1) Die nachstehenden Geschäftsbedingungen gelten für Verträge, die Sie
      mit uns als Anbieter (Sven Wesely) über die Internetseite
      www.bikery-shop.com schließen. Soweit nicht anders vereinbart, wird der
      Einbeziehung gegebenenfalls von Ihnen verwendeter eigener Bedingungen
      widersprochen.
    </p>
    <br /><br />
    <p>
      (2) Verbraucher im Sinne der nachstehenden Regelungen ist jede natürliche
      Person, die ein Rechtsgeschäft zu Zwecken abschließt, die überwiegend
      weder ihrer gewerblichen noch ihrer selbständigen beruflichen Tätigkeit
      zugerechnet werden kann. Unternehmer ist jede natürliche oder juristische
      Person oder eine rechtsfähige Personengesellschaft, die bei Abschluss
      eines Rechtsgeschäfts in Ausübung ihrer selbständigen beruflichen oder
      gewerblichen Tätigkeit handelt.
    </p>
    <br /><br />

    <h3>§ 2 Zustandekommen des Vertrages</h3>
    <p>(1) Gegenstand des Vertrages ist der Verkauf von Waren.</p>
    <br /><br />
    <p>
      (2) Bereits mit dem Einstellen des jeweiligen Produkts auf unserer
      Internetseite unterbreiten wir Ihnen ein verbindliches Angebot zum
      Abschluss eines Vertrages über das Online-Warenkorbsystem zu den in der
      Artikelbeschreibung angegebenen Bedingungen.
    </p>
    <br /><br />
    <p>
      (3) Der Vertrag kommt über das Online-Warenkorbsystem wie folgt zustande:
      Die zum Kauf beabsichtigten Waren werden im "Warenkorb" abgelegt. Über die
      entsprechende Schaltfläche in der Navigationsleiste können Sie den
      "Warenkorb" aufrufen und dort jederzeit Änderungen vornehmen. Nach
      Anklicken der Schaltfläche "Kasse" oder "Weiter zur Bestellung" (oder
      ähnliche Bezeichnung) und der Eingabe der persönlichen Daten sowie der
      Zahlungs- und Versandbedingungen werden Ihnen abschließend die
      Bestelldaten als Bestellübersicht angezeigt. Soweit Sie als Zahlungsart
      ein Sofortzahl-System (z.B. PayPal (Express/Plus/Checkout), Amazon Pay,
      Sofort) nutzen, werden Sie entweder auf die Bestellübersichtsseite in
      unserem Online-Shop geführt oder auf die Internetseite des Anbieters des
      Sofortzahl-Systems weitergeleitet. Erfolgt eine Weiterleitung zu dem
      jeweiligen Sofortzahl-System, nehmen Sie dort die entsprechende Auswahl
      bzw. Eingabe Ihrer Daten vor. Abschließend werden Ihnen auf der
      Internetseite des Anbieters des Sofortzahl-Systems oder nachdem Sie zurück
      in unseren Online-Shop geleitet wurden, die Bestelldaten als
      Bestellübersicht angezeigt. Vor Absenden der Bestellung haben Sie die
      Möglichkeit, die Angaben in der Bestellübersicht nochmals zu überprüfen,
      zu ändern (auch über die Funktion "zurück" des Internetbrowsers) bzw. die
      Bestellung abzubrechen. Mit dem Absenden der Bestellung über die
      entsprechende Schaltfläche ("zahlungspflichtig bestellen", "kaufen" /
      "jetzt kaufen", "kostenpflichtig bestellen", "bezahlen" / "jetzt bezahlen"
      oder ähnliche Bezeichnung) erklären Sie rechtsverbindlich die Annahme des
      Angebotes, wodurch der Vertrag zustande kommt.
    </p>
    <br /><br />
    <p>
      (4) Ihre Anfragen zur Erstellung eines Angebotes sind für Sie
      unverbindlich. Wir unterbreiten Ihnen hierzu ein verbindliches Angebot in
      Textform (z.B. per E-Mail), welches Sie innerhalb von 5 Tagen (soweit im
      jeweiligen Angebot keine andere Frist ausgewiesen ist) annehmen können.
    </p>
    <br /><br />
    <p>
      (5) Die Abwicklung der Bestellung und Übermittlung aller im Zusammenhang
      mit dem Vertragsschluss erforderlichen Informationen erfolgt per E-Mail
      zum Teil automatisiert. Sie haben deshalb sicherzustellen, dass die von
      Ihnen bei uns hinterlegte E-Mail-Adresse zutreffend ist, der Empfang der
      E-Mails technisch sichergestellt und insbesondere nicht durch SPAM-Filter
      verhindert wird.
    </p>
    <br /><br />

    <h3>§ 3 Individuell gestaltete Waren</h3>
    <p>
      (1) Sie stellen uns die für die individuelle Gestaltung der Waren
      erforderlichen geeigneten Informationen, Texte oder Dateien über das
      OnlineBestellsystem oder per E-Mail spätestens unverzüglich nach
      Vertragsschluss zur Verfügung. Unsere etwaigen Vorgaben zu Dateiformaten
      sind zu beachten.
    </p>
    <br /><br />
    <p>
      (2) Sie verpflichten sich, keine Daten zu übermitteln, deren Inhalt Rechte
      Dritter (insbesondere Urheberrechte, Namensrechte, Markenrechte) verletzen
      oder gegen bestehende Gesetze verstoßen. Sie stellen uns ausdrücklich von
      sämtlichen in diesem Zusammenhang geltend gemachten Ansprüchen Dritter
      frei. Das betrifft auch die Kosten der in diesem Zusammenhang
      erforderlichen rechtlichen Vertretung.
    </p>
    <br /><br />
    <p>
      (3) Wir nehmen keine Prüfung der übermittelten Daten auf inhaltliche
      Richtigkeit vor und übernehmen insoweit keine Haftung für Fehler.
    </p>
    <br /><br />

    <h3>§ 4 Besondere Vereinbarungen zu angebotenen Zahlungsarten</h3>
    <p>
      (1) Zahlung über "PayPal" / "PayPal Checkout" Bei Auswahl einer
      Zahlungsart, die über "PayPal" / "PayPal Checkout" angeboten wird, erfolgt
      die Zahlungsabwicklung über den Zahlungsdienstleister PayPal (Europe)
      S.à.r.l. et Cie, S.C.A. (22-24 Boulevard Royal L-2449, Luxemburg;
      "PayPal"). Die einzelnen Zahlungsarten über "PayPal" werden Ihnen unter
      einer entsprechend bezeichneten Schaltfläche auf unserer Internetpräsenz
      sowie im OnlineBestellvorgang angezeigt. Für die Zahlungsabwicklung kann
      sich "PayPal" weiterer Zahlungsdienste bedienen; soweit hierfür besondere
      Zahlungsbedingungen gelten, werden Sie auf diese gesondert hingewiesen.
      Nähere Informationen zu "PayPal" finden Sie unter
      https://www.paypal.com/de/webapps/mpp/ua/legalhub-full.
    </p>
    <br /><br />
    <p>
      (2) Zahlung über "Mollie" Bei Auswahl einer Zahlungsart, die über "Mollie"
      angeboten wird, erfolgt die Zahlungsabwicklung über den
      Zahlungsdienstleister Mollie B.V. (Keizersgracht 313, 1016 EE Amsterdam,
      Niederlande; "Mollie"). Die einzelnen Zahlungsarten über "Mollie" werden
      Ihnen unter einer entsprechend bezeichneten Schaltfläche auf unserer
      Internetpräsenz sowie im Online-Bestellvorgang angezeigt. Für die
      Zahlungsabwicklung kann sich "Mollie" weiterer Zahlungsdienste bedienen;
      soweit hierfür besondere Zahlungsbedingungen gelten, werden Sie auf diese
      gesondert hingewiesen. Nähere Informationen zu "Mollie" finden Sie unter
      https://www.mollie.com/de.
    </p>
    <br /><br />
    <p>
      (3) Zahlung über "Stripe" Bei Auswahl einer Zahlungsart, die über "Stripe"
      angeboten wird, erfolgt die Zahlungsabwicklung über den
      Zahlungsdienstleister Stripe Payments Europe Limited (1 Grand Canal Street
      Lower, Grand Canal Dock, Dublin, D02 H210, Ireland; "Stripe"). Die
      einzelnen Zahlungsarten über "Stripe" werden Ihnen unter einer
      entsprechend bezeichneten Schaltfläche auf unserer Internetpräsenz sowie
      im Online-Bestellvorgang angezeigt. Für die Zahlungsabwicklung kann sich
      "Stripe" weiterer Zahlungsdienste bedienen; soweit hierfür besondere
      Zahlungsbedingungen gelten, werden Sie auf diese gesondert hingewiesen.
      Nähere Informationen zu "Stripe" finden Sie unter https://stripe.com/de.
    </p>
    <br /><br />

    <h3>§ 5 Zurückbehaltungsrecht, Eigentumsvorbehalt</h3>
    <p>
      (1) Ein Zurückbehaltungsrecht können Sie nur ausüben, soweit es sich um
      Forderungen aus demselben Vertragsverhältnis handelt.
    </p>
    <br /><br />
    <p>
      (2) Die Ware bleibt bis zur vollständigen Zahlung des Kaufpreises unser
      Eigentum.
    </p>
    <br /><br />

    <h3>§ 6 Gewährleistung</h3>
    <p>(1) Es bestehen die gesetzlichen Mängelhaftungsrechte.</p>
    <br /><br />
    <p>
      (2) Als Verbraucher werden Sie gebeten, die Ware bei Lieferung umgehend
      auf Vollständigkeit, offensichtliche Mängel und Transportschäden zu
      überprüfen und uns sowie dem Spediteur Beanstandungen schnellstmöglich
      mitzuteilen. Kommen Sie dem nicht nach, hat dies keine Auswirkung auf Ihre
      gesetzlichen Gewährleistungsansprüche.
    </p>
    <br /><br />
    <p>
      (3) Soweit ein Merkmal der Ware von den objektiven Anforderungen abweicht,
      gilt die Abweichung nur dann als vereinbart, wenn Sie vor Abgabe der
      Vertragserklärung durch uns über selbige in Kenntnis gesetzt wurden und
      die Abweichung ausdrücklich und gesondert zwischen den Vertragsparteien
      vereinbart wurde.
    </p>
    <br /><br />

    <h3>§ 7 Rechtswahl</h3>
    <p>
      (1) Es gilt deutsches Recht. Bei Verbrauchern gilt diese Rechtswahl nur,
      soweit hierdurch der durch zwingende Bestimmungen des Rechts des Staates
      des gewöhnlichen Aufenthaltes des Verbrauchers gewährte Schutz nicht
      entzogen wird (Günstigkeitsprinzip).
    </p>
    <br /><br />
    <p>
      (2) Die Bestimmungen des UN-Kaufrechts finden ausdrücklich keine
      Anwendung.
    </p>
    <br /><br />

    <h2>II. Kundeninformationen</h2>

    <h3>1. Identität des Verkäufers</h3>
    <p>
      Sven Wesely<br />
      Beethovenstraße 3<br />
      76676 Graben-Neudorf<br />
      Deutschland<br />
      Telefon: +4915212187763<br />
      E-Mail: info&#64;bikery-shop.com<br />
    </p>
    <br /><br />
    <p>
      Wir sind nicht bereit und nicht verpflichtet, an Streitbeilegungsverfahren
      vor Verbraucherschlichtungsstellen teilzunehmen.
    </p>
    <br /><br />

    <h3>2. Informationen zum Zustandekommen des Vertrages</h3>
    <p>
      Die technischen Schritte zum Vertragsschluss, der Vertragsschluss selbst
      und die Korrekturmöglichkeiten erfolgen nach Maßgabe der Regelungen
      "Zustandekommen des Vertrages" unserer Allgemeinen Geschäftsbedingungen
      (Teil I.).
    </p>
    <br /><br />

    <h3>3. Vertragssprache, Vertragstextspeicherung</h3>
    <p>3.1. Vertragssprache ist deutsch .</p>
    <br /><br />
    <p>
      3.2. Der vollständige Vertragstext wird von uns nicht gespeichert. Vor
      Absenden der Bestellung über das Online - Warenkorbsystem können die
      Vertragsdaten über die Druckfunktion des Browsers ausgedruckt oder
      elektronisch gesichert werden. Nach Zugang der Bestellung bei uns werden
      die Bestelldaten, die gesetzlich vorgeschriebenen Informationen bei
      Fernabsatzverträgen und die Allgemeinen Geschäftsbedingungen nochmals per
      E-Mail an Sie übersandt.
    </p>
    <br /><br />
    <p>
      3.3. Bei Angebotsanfragen außerhalb des Online-Warenkorbsystems erhalten
      Sie alle Vertragsdaten im Rahmen eines verbindlichen Angebotes in Textform
      übersandt, z.B. per E-Mail, welche Sie ausdrucken oder elektronisch
      sichern können.
    </p>
    <br /><br />

    <h3>4. Wesentliche Merkmale der Ware oder Dienstleistung</h3>
    <p>
      Die wesentlichen Merkmale der Ware und/oder Dienstleistung finden sich im
      jeweiligen Angebot.
    </p>
    <br /><br />

    <h3>5. Preise und Zahlungsmodalitäten</h3>
    <p>
      5.1. Die in den jeweiligen Angeboten angeführten Preise sowie die
      Versandkosten stellen Gesamtpreise dar. Sie beinhalten alle
      Preisbestandteile einschließlich aller anfallenden Steuern.
    </p>
    <br /><br />
    <p>
      5.2. Die anfallenden Versandkosten sind nicht im Kaufpreis enthalten. Sie
      sind über eine entsprechend bezeichnete Schaltfläche auf unserer
      Internetpräsenz oder im jeweiligen Angebot aufrufbar, werden im Laufe des
      Bestellvorganges gesondert ausgewiesen und sind von Ihnen zusätzlich zu
      tragen, soweit nicht die versandkostenfreie Lieferung zugesagt ist.
    </p>
    <br /><br />
    <p>
      5.3. Die Ihnen zur Verfügung stehenden Zahlungsarten sind unter einer
      entsprechend bezeichneten Schaltfläche auf unserer Internetpräsenz oder im
      jeweiligen Angebot ausgewiesen.
    </p>
    <br /><br />
    <p>
      5.4. Soweit bei den einzelnen Zahlungsarten nicht anders angegeben, sind
      die Zahlungsansprüche aus dem geschlossenen Vertrag sofort zur Zahlung
      fällig.
    </p>
    <br /><br />

    <h3>6. Lieferbedingungen</h3>
    <p>
      6.1. Die Lieferbedingungen, der Liefertermin sowie gegebenenfalls
      bestehende Lieferbeschränkungen finden sich unter einer entsprechend
      bezeichneten Schaltfläche auf unserer Internetpräsenz oder im jeweiligen
      Angebot.
    </p>
    <br /><br />
    <p>
      6.2. Soweit Sie Verbraucher sind, ist gesetzlich geregelt, dass die Gefahr
      des zufälligen Untergangs und der zufälligen Verschlechterung der
      verkauften Sache während der Versendung erst mit der Übergabe der Ware an
      Sie übergeht, unabhängig davon, ob die Versendung versichert oder
      unversichert erfolgt. Dies gilt nicht, wenn Sie eigenständig ein nicht vom
      Unternehmer benanntes Transportunternehmen oder eine sonst zur Ausführung
      der Versendung bestimmte Person beauftragt haben.
    </p>
    <br /><br />

    <h3>7. Gesetzliches Mängelhaftungsrecht</h3>
    <p>
      Die Mängelhaftung richtet sich nach der Regelung "Gewährleistung" in
      unseren Allgemeinen Geschäftsbedingungen (Teil I).
    </p>
    <br /><br />

    <p>
      Diese AGB und Kundeninformationen wurden von den auf IT-Recht
      spezialisierten Juristen des Händlerbundes erstellt und werden permanent
      auf Rechtskonformität geprüft. Die Händlerbund Management AG garantiert
      für die Rechtssicherheit der Texte und haftet im Falle von Abmahnungen.
      Nähere Informationen dazu finden Sie unter:
      https://www.haendlerbund.de/de/leistungen/rechtssicherheit/agb-service.
      letzte Aktualisierung: 22.10.2024
    </p>
    <br /><br />
  </div>
</div>
