<div>
  <div>
    <h1>Impressum</h1>
    <br />
    <p>
      Gesetzliche Anbieterkennung:<br />
      Sven Wesely<br />
      Bikery-Shop<br />
      Beethovenstraße 3<br />
      76676 Graben-Neudorf<br />
      Deutschland<br />
      Telefon: +4915212187763<br />
      E-Mail: {{ email }}<br />
    </p>
    <br />
    <p>
      Aufgrund des Kleinunternehmerstatus wird in der Rechnung keine MwSt.
      ausgewiesen (umsatzsteuerfrei gem. § 19 Abs. 1 UStG).
    </p>
    <br />
    <p>
      Wir sind nicht bereit und nicht verpflichtet, an Streitbeilegungsverfahren
      vor Verbraucherschlichtungsstellen teilzunehmen.
    </p>
  </div>
  
</div>
