<div class="line">
  <div>
    <p>Filter</p>
    <div>
      <button>
        Verfügbarkeit
        <svg class="icon icon-caret" viewBox="0 0 10 6">
          <path
            fill="black"
            fill-rule="evenodd"
            d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
      <button>
        Preis
        <svg class="icon icon-caret" viewBox="0 0 10 6">
          <path
            fill="black"
            fill-rule="evenodd"
            d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </div>
  </div>
  <div>
    <p>Sortieren nach:</p>
    <button>
      Alphabetisch, A-Z
      <svg class="icon icon-caret" viewBox="0 0 10 6">
        <path
          fill="black"
          fill-rule="evenodd"
          d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
    <p>24 Produkte</p>
  </div>
</div>
