<section class="hero-section">

    <!-- <img class="pitbike-img" src="img/pitbike.png" alt=""> -->
    <div class="description-cont block">
        <span class="headline">PITBIKE</span>
        <span class="info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat nostrum, voluptate qui placeat quis voluptatibus tenetur ab ratione alias esse sint reprehenderit quasi veniam deleniti officia? Est odit ipsum fugiat!</span>
    </div>
    <!-- <div class="white-cont"></div>
    <div class="black-cont"></div> -->
    
</section>