<section class="hero-section">
  <!-- <img class="pitbike-img" src="img/pitbike.png" alt=""> -->
  <div class="description-cont block">
    <span class="headline">Bikery Shop</span>
    <span class="info"
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat
      nostrum, voluptate qui placeat quis voluptatibus tenetur ab ratione alias
      esse sint reprehenderit quasi veniam deleniti officia? Est odit ipsum
      fugiat!</span
    >
    <button>SHOP</button>
    <div class="contact-icons">
      <img src="img/Facebook.png" alt="" /><img
        src="img/Instagram.png"
        alt=""
      /><img src="img/Facebook.png" alt="" />
    </div>
  </div>

  <img class="header-logo" src="img/header_logo.JPG" alt="" />
</section>

<section class="products-preview">
  <div class="productlist">
    <span class="product-headline">Unsere Produkte</span>
    <app-produkt-preview-component></app-produkt-preview-component>
    <app-produkt-preview-component></app-produkt-preview-component>
    <app-produkt-preview-component></app-produkt-preview-component>
    <app-produkt-preview-component></app-produkt-preview-component>
    <app-produkt-preview-component></app-produkt-preview-component>
    <app-produkt-preview-component></app-produkt-preview-component>
  </div>
  <div class="show-all-btn">Alle anzeigen</div>
</section>
