<section>
  <header>
    <h1>Produktliste</h1>
  </header>
  <app-filters></app-filters>
  <div class="product-list">
    <div class="list">
      <app-produkt-preview-component
        *ngFor="let product of loadedProducts | slice:0:16"
        [product]="product"
      ></app-produkt-preview-component>
    </div>
    <div class="pagination">
      <div class="switch-cont">
        <span
          (click)="changeSide(-1); pagedProducts()"
          *ngIf="currentPage != 1"
        >
          {{ preaviousPage }}</span
        >
        <span>{{ currentPage }}</span>
        <span
          (click)="changeSide(1); pagedProducts()"
          *ngIf="currentPage != totalPages"
          >{{ nextPage }}</span
        >
      </div>
    </div>
  </div>
</section>
