<section>
  <header>
    <h1>Produktliste</h1>
  </header>
  <app-filters></app-filters>
  <div>
    <div *ngFor="let cat of backend.categories">
      <div class="name">{{ cat.name }}</div>
      <br />
      <div class="product-list">
        <div class="list">
          <app-produkt-preview-component
            *ngFor="let product of backend.loadedProducts | slice : 0 : 16"
            [product]="product"
            [category]="cat"
          ></app-produkt-preview-component>
        </div>
        <div class="pagination">
          <div class="switch-cont">
            <span
              (click)="backend.changeSide(-1); backend.pagedProducts()"
              *ngIf="backend.currentPage != 1"
            >
              {{ backend.preaviousPage }}</span
            >
            <span>{{ backend.currentPage }}</span>
            <span
              (click)="backend.changeSide(1); backend.pagedProducts()"
              *ngIf="backend.currentPage != backend.totalPages"
              >{{ backend.nextPage }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
